body{
    width: 800px;
    background-color: #004180;
    color: 	#EFE610;
    font-family: Helvetica;
    margin: auto;
}
main{
    position: fixed;
    top: 200px;  
}
.bubblebox{
    width: 700px;
    background-color:	#003060;
    border-radius: 50px;
    outline: 10px solid #00386F;
    padding: 50px;
    text-align: center;
}
h1{
    text-align: center;
}
button{
    width: 150px;
    height: 30px;
    background-color: #CBB61C;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}
input[type=submit]:hover,button:hover{
    cursor:pointer;
}
